@using Library.Model.Enums
@model Library.ViewModels.Books.CreateBookCopiesViewModel

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/post-form.css" />
</head>

<body>
    <form asp-action="CreateCopies" asp-controller="Book" method="post" id="createBookCopyForm">
        @if(Model.BookId == Guid.Empty)
        {
            <label>Book</label>
            <div class="book-form">
                <select class="original-book-dropdown select2" id="originalBookDropdown">
                    <option value="">Select an original book</option>
                    @foreach (var originalBook in ViewBag.OriginalBooks)
                    {
                        <option value="@originalBook.Id">@originalBook.Title</option>
                    }
                </select>
                <select asp-for="BookId" class="book-edition-dropdown select2" id="bookEditionDropdown" disabled>
                    <option value="">Select a book edition</option>
                </select>
            </div>
        }
        else
        {
            <div class="modal-field">
                <label asp-for="BookId">Book ID</label>
                <input asp-for="BookId" placeholder="Book ID*" required readonly />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
        }
        <div class="modal-field">
            <label asp-for="CreationComment">Comment</label>
            <input asp-for="CreationComment" placeholder="Creation Comment" id="CreationComment" />
            <span asp-validation-for="CreationComment" class="text-danger"></span>
        </div>
        <div class="modal-field">
            <div id="locationForms" class="location-forms">
                <div class="post-form-wrapper">
                    <div class="location-form">
                        <select class="location-dropdown" id="roomDropdown">
                            <option value="">Room*</option>
                            @foreach (var room in ViewBag.Rooms)
                            {
                                <option value="@room">@room</option>
                            }
                        </select>
                        <select class="location-dropdown" id="shelfDropdown">
                            <option value="">Shelf</option>
                        </select>
                        <input type="number" min="0" class="quantity" placeholder="Quantity" />
                        <select asp-items="@Html.GetEnumSelectList<BookCopyStatus>()" id="statusDropdown">
                            <option value="">Status</option>
                        </select>
                        <button type="button" class="add-location-btn">Add</button>
                    </div>
                </div>
                <div class="location-summaries"><!-- summaries will appear here (added for wrapping) --></div>
            </div>
        </div>
        <input asp-for="ReservationCopyId" type="hidden" id="ReservationCopyId" />
    </form>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    var serializedShelves = @Html.Raw(ViewBag.Shelves);
    var bookEditions = @Html.Raw(ViewBag.BookEditions);
</script>

<script src="~/js/Book/book-post.js?v=1.0.2"></script>
<script src="~/js/Shared/select2.js"></script>