@model Library.ViewModels.Books.CreateBookViewModel

@{
    ViewData["Title"] = "Create Book";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/post-form.css" />
</head>

<body>
    <form class="post-form" asp-action="Create" asp-controller="Book" method="post" id="createBookForm">
        <div class="form-title">Add a book</div>
        <div class="form-field original-book-field">
            <label asp-for="SelectedOriginalBookId">Original Book</label>
            <select asp-for="SelectedOriginalBookId" asp-items="@(new SelectList(ViewBag.OriginalBooks, "Id", "Title"))">
                <option value="Empty">Select Book</option>
            </select>
            <span asp-validation-for="SelectedOriginalBookId" class="text-danger"></span>
        </div>
        <div class="column-fields">
            <div class="form-field form-field4">
                <input asp-for="ISBN" maxlength="13" placeholder="ISBN*" required />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-field form-field4">
                <input asp-for="Edition" type="number" value="" placeholder="Edition*" required />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="form-field form-field4">
                <input asp-for="PageCount" type="number" value="" placeholder="# of Pages*" required />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-field form-field4">
                <input asp-for="PublishYear" type="number" value="" min="0" max="@DateTime.UtcNow.Year" placeholder="Release Year*" required />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
        </div>

        <div class="form-field publisher-field">
            <label asp-for="SelectedPublisherId">Publisher</label>
            <select asp-for="SelectedPublisherId" asp-items="@(new SelectList(ViewBag.Publishers, "Id", "Name"))">
                <option value="">Select Publisher</option>
            </select>
        </div>

        <div class="form-field">
            <label asp-for="SelectedAuthorIds">Authors</label>
            <select class="select2-authors" asp-for="SelectedAuthorIds" asp-items="@(new MultiSelectList(ViewBag.Authors, "Id", "FullName"))" id="authorSelectList" multiple></select>
        </div>
        <div class="form-field">
            <div id="selectedAuthors"></div>
        </div>

        <button type="submit" class="submit-button">Create</button>
    </form>
</body>

@section Scripts {
    <script>
        var serializedShelves = @Html.Raw(ViewBag.Shelves);
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/Shared/modal.js"></script>
    <script src="~/js/Shared/select2.js"></script>
}
