@model Library.ViewModels.Books.CreateBookViewModel

@{
    ViewData["Title"] = "Create Book";
}

<body>
    <form class="book-form" asp-action="Create" asp-controller="Book" method="post" id="createBookForm">
        <div class="book-title">Add a book</div>

        <div class="book-field">
            <input asp-for="ISBN" maxlength="13" placeholder="ISBN" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="book-field">
            <input asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="book-field">
            <textarea asp-for="Description" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="book-field">
            <input asp-for="Edition" type="number" value="" placeholder="Edition" />
            <span asp-validation-for="Edition" class="text-danger"></span>
        </div>
        <div class="book-field">
            <input asp-for="PageCount" type="number" value="" placeholder="# of Pages" />
            <span asp-validation-for="PageCount" class="text-danger"></span>
        </div>
        <div class="book-field">
            <input asp-for="PublishYear" type="number" value="" min="0" max="@DateTime.Now.Year" placeholder="Release Year" />
            <span asp-validation-for="PublishYear" class="text-danger"></span>
        </div>

        <div class="book-field">
            <label asp-for="SelectedGenreIds">Genres</label>
            <select asp-for="SelectedGenreIds" asp-items="@(new MultiSelectList(ViewBag.Genres, "Id", "Name"))" multiple></select>
            <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
        </div>

        <div class="book-field publisher-field">
            <label asp-for="SelectedPublisherId">Publisher</label>
            <select asp-for="SelectedPublisherId" asp-items="@(new SelectList(ViewBag.Publishers, "Id", "Name"))"></select>
        </div>

        <div id="authorDropdown" class="book-field">
            <label asp-for="SelectedAuthorIds">Authors</label>
            <select asp-for="SelectedAuthorIds" asp-items="@(new MultiSelectList(ViewBag.Authors, "Id", "FullName"))" id="authorSelectList" multiple></select>
        </div>
        <div class="book-field">
            <div id="selectedAuthors"></div>
        </div>

        <div class="book-field">
            <label>Locations</label>
            <div id="locationForms" class="location-forms">
                <div class="location-form-wrapper">
                    <div class="location-form">
                        <select class="location-dropdown" id="roomDropdown">
                            <option value="">Room</option>
                            @foreach (var room in ViewBag.Rooms)
                            {
                                <option value="@room">@room</option>
                            }
                        </select>
                        <select class="location-dropdown" id="shelfDropdown">
                            <option value="">Shelf</option>
                        </select>
                        <input type="number" class="quantity" placeholder="Quantity" />

                        <button type="button" class="add-location-btn">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="submit-button">Create</button>
    </form>
</body>

@section Scripts {
    <script>
        var serializedShelves = @Html.Raw(ViewBag.Shelves);
    </script>
    <script src="~/js/Book/bookCreate.js"></script>
}
