@model Library.Service.Dtos.Book.BookDetailsDto

@{
    ViewData["Title"] = "Book Details";
    bool isAdmin = User.IsInRole("Admin");
}

<div class="details-container">
    <div>
        <p><strong>Title:</strong> @Model.Title</p>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Edition:</strong> @Model.Edition</p>
        <p><strong>Publish Year:</strong> @Model.PublishYear</p>
        <p><strong>Quantity:</strong> @Model.Quantity</p>
        <br />
        <p><strong>Publisher:</strong> @Model.PublisherDto?.Name</p>
        <br />
        <p><strong>Authors:</strong></p>
        @foreach (var author in Model.AuthorsDto)
        {
            <p>@author.FullName</p>
        }
        <p><strong>Genres:</strong></p>
        @foreach (var genre in Model.Genres)
        {
            <p>@genre.Name</p>
        }
    </div>
</div>