@using Library.Service.Dtos.Book;
@model Library.ViewModels.Books.EditBookViewModel

@{
    ViewData["Title"] = "Edit Book";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/book.css" />
</head>

<body>
    <form class="book-form" asp-action="Edit" asp-controller="Book" method="post" id="editBookForm">
        <div class="book-title">Edit Book</div>
        <input asp-for="Id" type="hidden" />
        <div class="column-fields">
            <div class="book-field" style="width: 68%;">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" placeholder="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="book-field">
                <label asp-for="ISBN">ISBN</label>
                <input asp-for="ISBN" maxlength="13" placeholder="ISBN" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="book-field">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" placeholder="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="column-fields">
            <div class="book-field book-field3">
                <label asp-for="Edition">Edition</label>
                <input asp-for="Edition" type="number" placeholder="Edition" />
                <span asp-validation-for="Edition" class="text-danger"></span>
            </div>
            <div class="book-field book-field3">
                <label asp-for="PageCount">PageCount</label>
                <input asp-for="PageCount" type="number" placeholder="# of Pages" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="book-field book-field3">
                <label asp-for="PublishYear">PublishYear</label>
                <input asp-for="PublishYear" type="number" min="0" max="@DateTime.Now.Year" placeholder="Release Year" />
                <span asp-validation-for="PublishYear" class="text-danger"></span>
            </div>
        </div>

        <div class="book-field">
            <label asp-for="GenreIds">Genres</label>
            <select class="select2-genres" asp-for="GenreIds" asp-items="@(new MultiSelectList(ViewBag.Genres, "Id", "Name", Model.GenreIds))" multiple class="select2-multiple"></select>
            <span asp-validation-for="GenreIds" class="text-danger"></span>
        </div>

        <div class="book-field publisher-field">
            <label asp-for="PublisherId">Publisher</label>
            <select asp-for="PublisherId" asp-items="@(new SelectList(ViewBag.Publishers, "Id", "Name", Model.PublisherId))"></select>
        </div>

        <div class="book-field">
            <label asp-for="AuthorIds">Authors</label>
            <select class="select2-authors" asp-for="AuthorIds" asp-items="@(new MultiSelectList(ViewBag.Authors, "Id", "FullName", Model.AuthorIds))" id="authorSelectList" multiple></select>
            <span asp-validation-for="AuthorIds" class="text-danger"></span>
        </div>

        <div class="book-field">
            <label>Locations</label>
            <div id="locationForms" class="location-forms">
                <div class="location-form-wrapper">
                    <div class="location-form">
                        <select class="location-dropdown" id="roomDropdown">
                            <option value="">Room</option>
                            @foreach (var room in ViewBag.Rooms)
                            {
                                <option value="@room">@room</option>
                            }
                        </select>
                        <select class="location-dropdown" id="shelfDropdown">
                            <option value="">Shelf</option>
                        </select>
                        <input type="number" class="quantity" placeholder="Quantity" />

                        <button type="button" class="add-location-btn">Add</button>
                    </div>
                </div>
                @* load existing locations *@
                @for (int i = 0; i < Model.Locations.Length; i++)
                {
                    <div class="location-summary">
                        Room ID: @Model.Locations[i].RoomId, Shelf ID: @Model.Locations[i].ShelfId, Quantity: @Model.Locations[i].Quantity
                        <button type="button" class="remove-location-btn">✖</button>
                    </div>
                }
            </div>
        </div>

        <button type="submit" class="submit-button">Save</button>
    </form>
</body>


@section Scripts {
    <script>
        var serializedShelves = @Html.Raw(ViewBag.Shelves);
        var existingLocations = @Html.Raw(Json.Serialize(Model.Locations));

        $(document).ready(function () {
            $('.select2-genres').select2({
                placeholder: 'Select genres',
                multiple: true,
                allowClear: true,
                width: '100%'
            });

            $('.select2-authors').select2({
                placeholder: 'Select authors',
                multiple: true,
                allowClear: true,
                width: '100%',
                language: {
                    noResults: function () {
                        return 'No results found. <a href="/Author/Create" class="add-author">Add an author</a>';
                    }
                },
                escapeMarkup: function (markup) {
                    return markup;
                }
            });

            $(document).on('click', '.add-author', function (e) {
                e.preventDefault();
                e.stopPropagation();
                initializeModal('author', '/Author/Create', '/Author/Edit/', '/Author/Delete/');
                loadModalContent('/Author/Create', 'Add Author', 'create');
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/js/Shared/modal.js"></script>
    <script src="~/js/Book/book-post.js?v=1.0.1"></script>
}