@model Library.ViewModels.Reservations.CreateReservationViewModel

@{
    ViewData["Title"] = "Reserve a Book";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/post-form.css" />
</head>

<body>
    <form class="post-form" asp-action="Create" asp-controller="Reservation" method="post" id="createReservationForm" style="width: 1000px" enctype="multipart/form-data">
        <div class="form-title">Reserve a book</div>
        <div id="customerVerificationContainer">
            @await Html.PartialAsync("_CustomerVerification", Model.CustomerId)
        </div>
        <input type="hidden" name="CustomerId" id="hiddenCustomerId" value="@Model.CustomerId" />
        <div id="reservationFormContent" style="display: none;">
            <div id="bookReservationContainer">
                <div class="form-field">
                    <label asp-for="Books" class="required">Books</label>
                    <div id="bookForms" class="book-forms">
                        <div class="post-form-wrapper">
                            <div class="book-form">
                                <select class="original-book-dropdown select2" id="originalBookDropdown">
                                    <option value="">Select an original book</option>
                                    @foreach (var originalBook in ViewBag.OriginalBooks)
                                    {
                                        <option value="@originalBook.Id">@originalBook.Title</option>
                                    }
                                </select>
                                <select class="book-edition-dropdown select2" id="bookEditionDropdown" disabled>
                                    <option value="">Select a book edition</option>
                                </select>
                                <input type="number" min="1" class="quantity" placeholder="Quantity*" data-max-quantity=""/>
                                <input type="date" class="return-date" placeholder="Return Date" min="@DateTime.UtcNow.ToString("yyyy-MM-dd")" max="@DateTime.UtcNow.AddYears(1).ToString("yyyy-MM-dd")" />
                                <button type="button" class="add-reservation-btn">Add</button>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Books" class="text-danger"></span>
                </div>
                <div class="form-field">
                    <div id="selectedBooks"></div>
                </div>
                <button type="submit" class="submit-button">Reserve</button>
            </div>
        </div>
    </form>
</body>

@await Html.PartialAsync("_Modal", new { ModalId = "customerModal", CreateFormId = "createCustomerForm", EditFormId = "editCustomerForm" })

@section Scripts {
    <script>
        var bookEditions = @Html.Raw(ViewBag.BookEditions);
    </script>

    <script src="~/js/Reservation/reservation-post.js?v=1.0.1"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                width: 'resolve'
            });
        });
    </script>
}
