@using Library.Model.Enums;

@model Library.Service.Dtos.Reservations.Get.ReservationDetailsDto

@{
    ViewData["Title"] = "Reservation Details";
}

<body>
    <div class="details-container">
        <h1 class="main-title">Reservation Details</h1>

        <div class="customer-info">
            <h3>Customer: <span>@Model.Customer.Name @Model.Customer.Surname</span></h3>
            <h3>Book: <span>@Model.Book.Title</span></h3>
            <h3>Supposed Return Date: <span>@Model.SupposedReturnDate.ToShortDateString()</span></h3>
            <h3>Quantity to Return: <span>@Model.QuantityToReturn</span></h3>
        </div>

        <div class="book-copies">
            <h2>Book Copies</h2>
            <table class="table" id="reservationTable">
                <thead>
                    <tr>
                        <th>Book Copy ID</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Checkout</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservationCopy in Model.ReservationCopies)
                    {
                        var bookCopy = reservationCopy.BookCopyDto;
                        <tr data-reservation-copy-id="@reservationCopy.ReservationCopyId">
                            <td>@bookCopy.Id</td>
                            <td>@bookCopy.Status</td>
                            <td>Room ID: @bookCopy.RoomId | Shelf ID: @(bookCopy.ShelfId.HasValue ? bookCopy.ShelfId.Value.ToString() : "N/A")</td>
                            <td>
                                <select asp-items="@Html.GetEnumSelectList<Status>()"><option value="">Status</option></select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div id="checkoutButtonContainer" style="text-align: right; display: none;">
                <button id="checkoutButton" class="btn btn-primary">Checkout</button>
            </div>
        </div>

        <div class="other-reservations">
            <h2>Other Reservations of @Model.Customer.Name</h2>
            @if (Model.OtherReservationsOfCustomer.Any())
            {
                <ul>
                    @foreach (var reservation in Model.OtherReservationsOfCustomer)
                    {
                        <li>
                            <a asp-action="Details" asp-route-id="@reservation.ReservationId">
                                @reservation.Book.Title (@{
                                    @reservation.QuantityToReturn
                                }x copies)
                            </a>
                            <span class="return-date">Return Date: @reservation.SupposedReturnDate.ToShortDateString()</span>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="no-reservations">No other reservations found for this customer.</p>
            }
        </div>
    </div>
    <form id="checkoutForm" method="post" action="@Url.Action("Checkout", "Reservation")">
        <input type="hidden" id="reservationCheckoutData" name="reservationCheckoutData" />
    </form>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Reservation/reservation-checkout.js"></script>