@model Library.ViewModels.Publishers.PublisherViewModel

@{
    ViewData["Title"] = "Publisher Details";
    bool isAdmin = User.IsInRole("Admin");
}

<div class="details-container">
    <div>
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
        <p><strong>Year created:</strong> @Model.YearPublished</p>
        <br />
        <p><strong>Books</strong> </p>
        @foreach (var book in Model.Books)
        {
            <p>@book.Title</p>
        }
    </div>
</div>
