@model IEnumerable<Library.ViewModels.Publishers.PublisherViewModel>

<div class="publishers-container">
    <div class="publisher-header">
        <a href="" class="btn btn-add-publisher" id="add-publisher-btn">Add Publisher</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th id="period-header">
                    Year Published
                    <span class="sort-arrows">
                        <span class="arrow up" onclick="sortTableByStartDate(true, true, 3)">▲</span>
                        <span class="arrow down" onclick="sortTableByStartDate(false, true, 3)">▼</span>
                    </span>
                </th>
                <th># of Books in Library</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="publisherTable">
            @foreach (var publisher in Model)
            {
                <tr class="clickable-row" onclick="window.location='@Url.Action("Details", "Publisher", new { id = publisher.Id })';">
                    <td>@publisher.Name</td>
                    <td>@(publisher.Email == null ? "--------" : publisher.Email)</td>
                    <td>@(publisher.PhoneNumber == null ? "--------" : publisher.PhoneNumber)</td>
                    <td style="font-size: 16px;">@publisher.YearPublished</td>
                    <td>@publisher.BookCount</td>
                    <td><a href="" class="btn btn-edit-publisher" data-publisher-id="@publisher.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="custom-modal" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="addPublisherModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="custom-modal-content">
            <div class="custom-modal-header">
                <h4 class="custom-modal-title" id="modalTitle"></h4>
                <button type="button" class="custom-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body" id="modalBody">
                <!-- body will be loaded here. It depends on action (create/edit) -->
            </div>
            <div class="custom-modal-footer">
                <button type="submit" id="add-button" form="createPublisherForm" class="btn btn-primary">Save</button>
                <button type="submit" id="edit-button" form="editPublisherForm" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // create publisher modal
        $(document).ready(function () {
            $('#add-author-btn').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Author/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#modalBody').html(data);
                        $('#modalTitle').text('Add Author');
                        $('#add-button').show();
                        $('#edit-button').hide();
                        $('#authorModal').fadeIn();
                    },
                    error: function () {
                        alert('Error loading the form');
                    }
                });
            });

            $(document).on('submit', '#createAuthorForm', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    url: '/Author/Create',
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        $('#authorModal').fadeOut();
                        location.reload();
                    },
                    error: function () {
                        alert('Error saving the author');
                    }
                });
            });

            // Edit author modal setup
            $(document).on('click', '.btn-edit-author', function (e) {
                e.preventDefault();
                e.stopPropagation(); // Prevent link navigation
                var authorId = $(this).data('author-id');
                $.ajax({
                    url: '/Author/Edit/' + authorId,
                    type: 'GET',
                    success: function (data) {
                        $('#modalBody').html(data);
                        $('#modalTitle').text('Edit Author');
                        $('#add-button').hide();
                        $('#edit-button').show();
                        $('#authorModal').fadeIn();
                    },
                    error: function () {
                        alert('Error loading the form');
                    }
                });
            });

            $(document).on('submit', '#editAuthorForm', function (e) {
                console.log("entered submiting edit");
                e.preventDefault();
                var form = $(this);
                var authorId = form.data('author-id');
                $.ajax({
                    url: '/Author/Edit/' + authorId,
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        $('#authorModal').fadeOut();
                        location.reload();
                    },
                    error: function () {
                        alert('Error updating the author');
                    }
                });
            });

            // Close modal
            $(document).on('click', '.custom-close', function () {
                $('#authorModal').fadeOut();
            });
        });
    </script>
}