@model IEnumerable<Library.ViewModels.Publishers.PublisherViewModel>

<div class="publishers-container">
    <div class="publisher-header">
        <a href="" class="btn btn-add-publisher" id="add-publisher-btn">Add Publisher</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th id="period-header">
                    Year Published
                    <span class="sort-arrows">
                        <span class="arrow up" onclick="sortTableByStartDate(true, true, 3)">▲</span>
                        <span class="arrow down" onclick="sortTableByStartDate(false, true, 3)">▼</span>
                    </span>
                </th>
                <th># of Books in Library</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="publisherTable">
            @foreach (var publisher in Model)
            {
                <tr class="clickable-row" onclick="window.location='@Url.Action("Details", "Publisher", new { id = publisher.Id })';">
                    <td>@publisher.Name</td>
                    <td>@(publisher.Email == null ? "--------" : publisher.Email)</td>
                    <td>@(publisher.PhoneNumber == null ? "--------" : publisher.PhoneNumber)</td>
                    <td style="font-size: 16px;">@publisher.YearPublished</td>
                    <td>@publisher.BookCount</td>
                    <td><a href="" class="btn btn-edit-publisher" data-publisher-id="@publisher.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="custom-modal" id="publisherModal" tabindex="-1" role="dialog" aria-labelledby="addPublisherModalLabel" aria-hidden="true">
    <div class="custom-modal-dialog" role="document">
        <div class="custom-modal-content">
            <div class="custom-modal-header">
                <h4 class="custom-modal-title" id="modalTitle"></h4>
                <button type="button" class="custom-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body" id="modalBody">
                <!-- body will be loaded here. It depends on action (create/edit) -->
            </div>
            <div class="custom-modal-footer">
                <button type="submit" id="add-button" form="createPublisherForm" class="btn btn-primary">Save</button>
                <button type="submit" id="edit-button" form="editPublisherForm" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // create publisher modal
        $(document).ready(function () {
            $('#add-publisher-btn').click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Publisher/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#modalBody').html(data);
                        $('#modalTitle').text('Add Publisher');
                        $('#add-button').show();
                        $('#edit-button').hide();
                        $('#publisherModal').fadeIn();
                    },
                    error: function () {
                        alert('Error loading the form');
                    }
                });
            });
            $(document).on('submit', '#createPublisherForm', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    url: '/Publisher/Create',
                    type: form.attr('method'),
                    data: form.serialize(),
                    success: function (response) {
                        if (response.success) {
                            $('#publisherModal').fadeOut();
                            location.reload();
                        } else {
                            $('#publisherModal').fadeOut();
                            location.reload();
                        }
                    },
                    error: function () {
                        alert('Error saving the publisher');
                    }
                });
            });
            // edit publisher modal
            $('.btn-edit-publisher').click(function (e) {
                e.stopPropagation(); // to not to go to link when clicking button which is above it
                e.preventDefault();
                var publisherId = $(this).data('publisher-id');
                $.ajax({
                    url: '/Publisher/Edit/' + publisherId,
                    type: 'GET',
                    success: function (data) {
                        $('#modalBody').html(data);
                        $('#modalTitle').text('Edit Publisher');
                        $('#add-button').hide();
                        $('#edit-button').show();
                        $('#publisherModal').fadeIn();
                    },
                    error: function () {
                        alert('Error loading the form');
                    }
                });
                $(document).on('submit', '#editPublisherForm', function (e) {
                    e.preventDefault();
                    var form = $(this);
                    var publisherId = $(this).data('publisher-id');
                    $.ajax({
                        url: '/Publisher/Edit/' + publisherId,
                        type: form.attr('method'),
                        data: form.serialize(),
                        success: function (response) {
                            if (response.success) {
                                $('#publisherModal').fadeOut();
                                location.reload();
                            } else {
                                $('#publisherModal').fadeOut();
                                location.reload();
                            }
                        },
                        error: function () {
                            alert('Error updating the publisher');
                        }
                    });
                });
            });
            // close form modal
            $(document).on('click', '.custom-close', function () {
                $('#publisherModal').fadeOut();
            });
        });

    </script>
}